body
{
	background-color: #2F3336;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
	margin-top: 50px;
	color: white
}

h1
{
	
	margin-top: 0px;
	margin-bottom: 20px;
}

h2
{
	font-size: 20px;
	font-weight: 700;
	color: #000000;
	margin-top: 40px;
	margin-bottom: 40px;

}



p
{
	font-size: 25px;
	color: white
	text-align: center !important;
}


a
{
	text-decoration: none !important;
	color: white;
}


.first:hover 
{
	text-decoration: underline!important;
	color: white!important;
}

a:hover
{
	text-decoration: underline!important;
	color: black;
}





.Tiles
{
	text-align: center !important;
}





